<h1 [class] = "claseTitulo">Titulo {{title}}</h1>


<!--// cuando se quiere ver variables en pantalla-->
<pre>
  {{_carritoService.carritoCompras | json}}  
</pre>

<button (click) = "mostrar(true)">Mostrar</button>
<button (click) = "mostrar(false)">Ocultar</button>

<!--{{interpolacion}}-->
<!--sino no lo reconoce como variable [nombreItem] = "flor.nombre" -->

  <!--directivas *ngIf, *ngFor-->
  <div  *ngIf = "estaMostrando">
    <app-item-galeria 

    *ngFor= "let flor of arregloFloresJs"
    [titulo] = "flor.titulo "
    [nombreItem] = "flor.nombre" 
    [textoBoton] = "flor.descripcion"
    (cambioChela) = "cambioChela($event)"
    (cambioCerveza) = "cambioCerveza($event)">

    
  </app-item-galeria>
</div>




<!--Ahora vamos a Iterar con el *ngFor-->
<!--
<app-item-galeria nombreItem = "Carnitas"
  textoBoton = "Gorditas"
>

</app-item-galeria>

<app-item-galeria nombreItem = "Chicas"
textoBoton = "Cheveres"
>

</app-item-galeria> -->