<h1 class = "rojo">Titulo {{title}}</h1>
<!--{{interpolacion}}-->
<!--sino no lo reconoce como variable [nombreItem] = "flor.nombre" -->
<app-item-galeria 
*ngFor= "let flor of arregloFloresJs"
[nombreItem] = "flor.nombre" 
[textoBoton] = "flor.descripcion"
(cambioChela) = "cambioChela($event)"
(cambioCerveza) = "cambioCerveza($event)"
>
</app-item-galeria>


<!--Ahora vamos a Iterar con el *ngFor-->
<!--
<app-item-galeria nombreItem = "Carnitas"
  textoBoton = "Gorditas"
>

</app-item-galeria>

<app-item-galeria nombreItem = "Chicas"
textoBoton = "Cheveres"
>

</app-item-galeria> -->