<h1 class = "rojo"> Tienda:  {{titulo}}</h1>
<!--INTERPOLACION-->
<p>Nombre: {{nombreItem}}</p>
<!--event binding-->
<!--en angular los eventos onclick y onblur se pueden escribir sin el ON-->
  <button (click) = "alertar()"> {{textoBoton}}</button>

  <!--PROPERTY BINDING-->
  <img [src]="url" alt="" 
  (click) = "cambiarImagen()"
  >



  <!--Directiva ->*ngfor ->, es para iterar cierta etiqueta -->
 <div *ngFor = "let nota of notas">
   <button (click) = "agregarCarrito(nota)">
   Anadir: {{nota}}
  </button>
  </div>